/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 /*
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

@import "bootstrap";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

#flex-content-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  padding: 10px 0px;
  font-family: 'IM Fell Great Primer SC', serif;
  margin-top: 30px;
  font-weight: 100;
}

.footer a {
  color: white;
  font-weight: 100;
}